.roadmap{
    color: white;
    position: relative;
   
}
.roadmap-title{
    text-align: center;
}
.roadmap-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap: 3rem;
}

.roadmap-card-container{
    position: relative;
    height: 160vh;
}
.roadmap-card{
    padding: 25px;
    width: 230px;
    position: absolute;
    margin-right: 20px;

}
.middle-roadmap{
    margin-top: 150px;
}
.last-roadmap{
    margin-top: -450px;
}

.background-vector{
    position: absolute;
    width: 385px;
    height: 800px;
}

.roadmap-section{
    margin: 100px 0;
}
.roadmap-section>img{
    max-width: 100%;
}
.section-line{
    position: absolute;
    top: 270px;
    left: 50px;
}
