.team{
    color: white;
}
.team-title{
    margin-top: 100px;
    color: white;
    margin-bottom: 150px;
    text-align: center;
    
    position: relative;
}
.section-image>img{
    width: 400px;
    height: 110px;
    text-align: center;
    
}
.texts{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}
.texts>h1{
    color: #00FF8E;
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 5px;
}

.texts>h2{
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
}
.team-cards{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}
.team-card{
    height: 60vh;
    position: relative;

}
.team-card>img{
    max-width: 100%;
    position: absolute;
}





.main-identity{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 120px;
    height: 120px;
    
    margin: -80px 20px 0 10px;
}


.card-content{
    position: absolute;
    top: 25px;
    padding: 10px;
}
.main-identity>h2{
    font-weight:700;
    font-size: 21px;
    font-family: 'Orbitron', sans-serif;;
}
.card-content>p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight:400;
}
.team-section{
    margin: 100px 0;
}
.team-section>img{
max-width: 100%;
}

.contact-icons{
    position: absolute;
    bottom:20px;
    right: 20px;
}


/* responsive  */

@media only screen and (max-width: 988px) {
    .team-card>img{
        height: 325px;
    }
}
@media only screen and (max-width: 768px) {
    .team-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .team-card{
        width: 270px;
    
    }
}
@media only screen and (max-width: 600px) {
    .nav{
        max-width: 550px;
    }
    .nav-items{
        display: none;
    }
}