.footer{
    color: white;
    padding-bottom: 10px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 85px;
    width: 180px;
}
.copyright{
    position: absolute;
    bottom: 2px;
    left: 40%;
}
